html {
  height: 100%;
  width: 100%;
  body {
    height: 100%;
    width: 100%;
    color: var(--white);
    background: radial-gradient(circle at 50% -15%, #16536c, #0c1c25, #031923);
    .Toastify__toast-container {
      width: 350px;
    }
    .Toastify__toast {
      height: 55px !important;
      min-height: auto !important;
    }
    .Toastify__toast--success {
      background-color: var(--primaryColor) !important;
      color: var(--white) !important;
    }
    .Toastify__toast--error {
      background-color: var(--error) !important;
      color: var(--white) !important;
    }
    .primary_color {
      color: var(--primaryColor);
    }
    .min_width_120 {
      min-width: 120px !important;
    }
    .min_width_200 {
      min-width: 200px !important;
    }
    .min_width_40p {
      min-width: 40% !important;
    }
    .flex_1_1_10 {
      flex: 1 1 10px !important;
    }
    .flex_1_1_10_limit {
      flex: 1 1 10px !important;
      width: 10px;
    }
    .invalid {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
    }
    .invalid_top_20 {
      top: -20px;
    }
    .invalid_eye {
      top: 12px;
      right: 12px;
    }
    .primary_btn {
      background: linear-gradient(
        to left,
        var(--primaryColor) 50%,
        var(--white) 50%
      );
      background-size: 205% 105%;
      background-position: right bottom;
      color: var(--white);
      padding: 5px 10px;
      min-width: 100px;
      border-radius: 4px;
      transition: background-position 0.3s ease, color 0.3s ease;
      outline: none;
      border: none;
      &:hover {
        background-position: left bottom;
        color: var(--primaryColor);
      }
    }
    .secondary_btn {
      background-color: transparent;
      border: 1px solid var(--loaderBackground);
      padding: 5px 10px;
      min-width: 100px;
      border-radius: 4px;
      outline: none;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
    .main_form_container {
      > input {
        width: 100%;
        border-radius: 4px;
        padding: 10px;
        border: 1px solid var(--white);
      }
    }
    .main_card_container {
      border-radius: 8px;
      background-color: var(--secondaryColor);
      border-top: 5px solid var(--primaryColor);
    }
  }
}
@media (max-width: 750px) {
  html {
    body {
      overflow: hidden;
      .Toastify__toast-container {
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
      }
      .primary_btn {
        min-width: 40px;
      }
      .secondary_btn {
        min-width: 40px;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 0 !important;
  background-color: var(--scrollbarBg);
}

::-webkit-scrollbar:hover {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondaryColor);
}
