html {
  body {
    font-size: 14px;
    .font_family_body {
      font-family: "regular";
    }
    .font_body {
      font-size: 14px;
    }
    .font_11 {
      font-size: 11px;
    }
    .font_12 {
      font-size: 12px;
    }
    .font_13 {
      font-size: 13px;
    }
    .font_14 {
      font-size: 14px !important;
    }
    .font_15 {
      font-size: 15px;
    }
    .font_16 {
      font-size: 16px;
    }
    .font_17 {
      font-size: 17px;
    }
    .font_18 {
      font-size: 18px;
    }
    .font_20 {
      font-size: 20px;
    }
    .font_22 {
      font-size: 22px;
    }
    .font_30 {
      font-size: 30px;
    }
    .font_40 {
      font-size: 40px;
    }
    .font_50 {
      font-size: 50px;
    }
    .font_weight_bold {
      font-family: "bold";
    }
    .font_weight_black {
      font-family: "black";
    }
    .font_weight_medium {
      font-family: "medium";
    }
    .font_weight_light {
      font-family: "light";
    }
    .font_weight_regular {
      font-family: "regular";
    }
    .font_weight_thin {
      font-family: "thin";
    }
  }
}
