.level_container {
  .level_input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: var(--secondaryColor);
  }
  .conversation-log {
    overflow: auto;
  }
}
