.level_container {
  display: flex;
  flex: 1 1 10px;
  max-height: 100%;
  padding-bottom: 20px;
  .level_content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 10px;
    padding: 20px;
    .conversation_log {
      overflow-y: auto;
      display: flex;
      flex-direction: column-reverse;
      background: var(--authInputBorderColor);
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 20px;
      overflow-y: auto;
      .conversation {
        word-break: break-word;
        white-space: pre-wrap;
        .users_log {
          color: var(--grayLight);
        }
        .echo_log {
          padding-bottom: 10px !important;
        }
      }
    }
    .level_input_container {
      position: relative;
      display: flex;
      .level_input {
        width: 100%;
        padding: 8px 35px 10px 10px;
        border-radius: 5px;
        border: 1px solid #3c7ea2;
        background: rgb(26, 68, 93);
        color: var(--white);
        outline: none;
      }
      > span {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0%, -50%);
      }
    }
  }
}
@media (max-width: 750px) {
  .level_container {
    flex-direction: column;
  }
}
