input::placeholder{
    font-size: 60%;
    text-align: center;
}

*{
    font-family: "CustomFont";
    
  }
  
  
  @font-face {
    font-family: "CustomFont";
    src: url(../public/fonts/ProductSans-Medium.woff);
  }
